body {
	background: lightyellow;
}

li {
  padding: 5px;
  margin: 5px;
}

.burger-display {
  background: white;
  padding: 5px;
  border: solid;
  border-width: 1px;
  border-color: orange;
}

.img-circle {
	height: 200px;
	width: 200px;
	margin-top: 40px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
}

.form-group {
  margin-bottom: 5px;
}
